<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$("#name").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#table tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
});
</script> 
<div class="row">
	<div class="col-3 mb-3">
		<h4>Поиск</h4>
		<input type="text" id="name" class="form-control">
	</div>
</div>

<h3>Очные тесты ваших учеников</h3>
<%= link_to 'Добавить оценку очного теста', [:new, :admin, @course, @lesson, :offline_survey_attempt], class: 'btn btn-success' %>
<table class="table table-striped" id="table">
	<% @lesson.offline_survey_attempts.each do |attempt| %>
		<tr>
			<td>
				<%= "#{attempt.lesson.course.title}/#{attempt.lesson.title}" %>
        	</td>
			<td>
				<%= link_to "#{attempt.user.first_name} #{attempt.user.last_name}", [attempt.user] %>
			</td>
			<td>
				<%= "#{attempt.result}" %>
			</td>
			<td>
				<%= link_to "Редактировать", [:edit, :admin, @course, @lesson, attempt] %>
			</td>
			<td>
				<%= link_to "Удалить", [:admin, @course, @lesson, attempt], class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Вы уверены?"} %>
			</td>
    	</tr>
	<% end %>
</table>