<tr class="lesson" data-id="<%= lesson.id %>">
	<td>
		<span class="handle badge badge-secondary" style="background-color: white; width: 100%; height: 100%;"><image src="<%= root_url %>/img/core-img/arrows.svg" style="width: 50%;"></image></span>
	</td>
	<td class="position"><%= lesson.position %></td>
	<td><%= lesson.title %></td>
	<td><%= lesson.course.title %></td>
	<td class="btn-group-vertical" role="group">
		<%= link_to 'Тесты', [:admin, @course, lesson, :questions], class: "btn btn-primary btn-sm" %>
		<% if lesson.is_offline_survey == true %>
			<%= link_to 'Очный тест', [:admin, @course, lesson, :offline_survey_attempts], class: "btn btn-success btn-sm" %>
		<% end %>
		<%= link_to 'Редактировать', [:edit, :admin, @course, lesson], class: "btn btn-primary btn-sm" %>
		<%= link_to 'Удалить', [:admin, @course, lesson], class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Вы уверены?"} %>
	</td>
</tr>