<div class="row">
	<div class="col-md-offset-2 col-md-8 col-lg-12">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-12 col-sm-9">
					<h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
					<p>
						<strong>Email: <%= @user.email %>. </strong>
					</p>
					<p>
						<strong>Email родителя: <%= @user.parent_email %>. </strong>
					</p>
					<p>
						<strong>Дата регистрации: <%= @user.created_at.strftime("%F %T") %></strong>
					</p>
					<p>
						<strong>Дата последнего входа: <%= @user.last_sign_in_at.strftime("%F %T") %></strong>
					</p>
					<div class="btn-group">
						<% if can? :manage, @user %>
	                        <%= button_to "Редактировать профиль", [:edit, @user, :registration], method: :get, class: "btn btn-sm btn-primary mr-3" %>
	                        <%= button_to "Удалить профиль", [@user, :registration], params: {id: @user.id}, method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Вы уверены?"} %>
                        <% end %>
                    </div>
				</div>
				<div class="col-12 col-sm-3 text-center">
					<figure>
						<% if @user.avatar? %>
							<%= image_tag @user.avatar.url %>
						<% else %>
							<img src="<%= root_url %>/img/core-img/user.png" width="100%" height="100%" style="object-fit: cover;">
						<% end %>
					</figure>
				</div>
			</div>
		</div>
		<div class="col-12">
			<% if !@user.is_admin? %>
				<canvas id="chart" width="100" height="50"></canvas>
				<script>
				$(document).ready(function() {
					$.ajax({
						url: '<%= "#{root_url}api/users/#{@user.id}" %>',
						contentType: "application/json",
						success: function(result) {
							console.log(result)
							var ctx = document.getElementById('chart');
							var chart = new Chart(ctx, {
							    type: 'bar',
							    data: {
							        labels: result.map(function(attempt) {return attempt["lesson"] + " " + attempt["date"]}),
							        datasets: [{
							            label: 'Результат последних тестирований (указан процент решенных задач)',
							            data: result.map(function(attempt) {return Math.floor(100*attempt["result"]/attempt["questions"])}),
							            backgroundColor: ['rgba(255, 99, 132, 0.2)',
							            	'rgba(54, 162, 235, 0.2)',
							                'rgba(255, 206, 86, 0.2)',
							                'rgba(75, 192, 192, 0.2)',
							                'rgba(153, 102, 255, 0.2)',
							                'rgba(255, 159, 64, 0.2)'],
							             borderColor: [
							                'rgba(255, 99, 132, 1)',
							                'rgba(54, 162, 235, 1)',
							                'rgba(255, 206, 86, 1)',
							                'rgba(75, 192, 192, 1)',
							                'rgba(153, 102, 255, 1)',
							                'rgba(255, 159, 64, 1)'
							            ],
							            borderWidth: 1
							        }]
							    },
							    options: {
							        scales: {
							            yAxes: [{
							                ticks: {
							                    beginAtZero: true
							                }
							            }]
							        }
							    }
							});
						}
					});
				})
				</script>
			<% else %>
				<h4>Администратор сайта</h4>
			<% end %>

		</div>
	</div>
</div>