<div class="row">
	<div class="col-md-offset-2 col-md-8 col-lg-12">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-12 col-sm-9">
					<h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
					<p>
						<strong>ФИО: <%= @user.full_name %>. </strong>
					</p>
					<p>
						<strong>Дата регистрации: <%= @user.created_at.strftime("%F %T") %></strong>
					</p>
					<p>
						<strong>Дата последнего входа: <%= @user.last_sign_in_at.strftime("%F %T") %></strong>
					</p>
					<div class="btn-group">
						<% if can? :manage, @user %>
	                        <%= button_to "Редактировать профиль", [:edit, @user], method: :get, class: "btn btn-sm btn-primary mr-3" %>
	                        <% #button_to "Удалить профиль", [@user], params: {id: @user.id}, method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Вы уверены?"} %>
                        <% end %>
                    </div>
				</div>
				<div class="col-12 col-sm-3 text-center">
					<figure>
						<% if @user.avatar? %>
							<%= image_tag @user.avatar.url %>
						<% else %>
							<img src="<%= root_url %>/img/core-img/user.png" width="100%" height="100%" style="object-fit: cover;">
						<% end %>
					</figure>
				</div>
			</div>
		</div>
		<div class="col-12">
			<h3>Подробная статистика по курсам</h3>
			<% @user.courses.each do |c| %>
				<%= link_to c.title, user_course_statistic_path(@user, c) %>
			<% end %>
		</div>
	</div>
</div>