<!-- Ratings -->
<div class="clever-ratings d-flex align-items-center mb-30">
    <div class="total-ratings text-center d-flex align-items-center justify-content-center">
        <div class="ratings-text">
            <h5>Ваши результаты</h5>
            <% attempt = attempts.where(done: true).order(created_at: :desc).first %>
            <span><b><%= attempt.result %>/<%= attempt.questions.count %></b></span>       
        </div>
    </div>
    
    
    <div class="rating-viewer">
        <!-- Rating -->
        <h5>Результаты последнего тестирования</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th style="padding: 5px 10px;">Ваш ответ</th>
                    <th style="padding: 5px 10px;">Правильный ответ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% attempts.where(done: true).order(created_at: :desc).first.survey_answers.each_with_index do |answer, i| %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td style="padding: 5px 10px;"><%= answer.answer %></td>
                        <% if answer.answer == answer.question.correct_answer %>
                            <td style="padding: 5px 10px;"><%= answer.question.correct_answer %></td>
                            <td>
                                <span style="font-size: 15px; color: green;">+</span>
                            </td>
                        <% else %>
                            <td style="padding: 5px 10px;">-</td>
                            <td>
                                <span style="font-size: 15px; color: red;">-</span>
                            </td>
                        <% end %>
                    </tr>       
                <% end %>
            </tbody>
        </table>
    </div>
</div>